body {
    font-family: cursive;
    overflow-x: hidden;
    
}
h1 {
    padding-top: 10px;
    margin-left: 10%;
    color: rgb(231, 67, 95);
}
.title{
    text-align: left;
}

.cards-content {
    margin-left: 10%;
    margin-right: 15%;
    display: flex;
    flex-wrap: nowrap;
    height: 450px;
    overflow-y:hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.page-container {
    align-items: center;
    background-image: url(https://img.purch.com/rc/1680x1050/aHR0cDovL3d3dy5zcGFjZS5jb20vaW1hZ2VzL2kvMDAwLzA0My8zMjgvb3JpZ2luYWwvYXJvdW5kLWEtc3Rhci1zeXN0ZW0tMTkyMC5qcGc=);
    min-height: 100vh;
  }

.card {
    padding: 10px;
    margin: 10px;
    justify-content: center;
}
.footer {
    color: rgb(76, 76, 221);
    height: 200%;
    
}

.card-body {
    color: white;
}

.characters{
    width: 300px;
}

